* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANYekanWeb;
}
.link {
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: IRANYekanWeb;
  src: url(../../fonts/IRANYekanWeb.eot);
  src: url(../../fonts/IRANYekanWeb.woff);
  src: url(../../fonts/IRANYekanWeb.ttf);
  src: url(../../fonts/IRANYekanWeb.woff2);
}

.banner-body {
  width: 100%;
  height: 110px;
  padding: 0px 15px;
  overflow: hidden;
  margin-top: 20px;

  .child {
    width: 100%;
    height: 100%;
    background-color: #ebeeed;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row-reverse;
    padding: 0px 40px;
    .b-s {
      position: absolute;
      top: 0;
      left: 0;
    }
    .right {
      width: 476px;
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ch-r {
        width: 356px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .gch-r {
          width: 66px;
          height: 62px;
          .fresh {
            width: 100%;
          }
        }
        .gch-l {
          width: calc(100% - 66px);
          height: 100%;
          display: flex;
          align-items: center;
          margin-left: 10px;
        }
      }
      .ch-l {
        width: calc(100% - 356px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .gch-body {
          width: 112px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: green;
          border-radius: 9999px;
          .text-b {
            font-size: 16px;
            font-weight: 700;
            color: white;
          }
        }
      }
    }
    .left {
      width: 570px;
      height: 75px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-flow: row-reverse;
      gap: 10px;
      z-index: 4;
      .body-right {
        width: auto;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .body-right-child1,
        .body-right-child2,
        .body-right-child3,
        .body-right-child4,
        .body-right-child5,
        .body-right-child6 {
          background-color: white;
          width: 74px;
          height: 74px;
          padding: 8px;
          border-bottom: 12px;
          border-radius: 50%;
          position: relative;

          .sale-bor {
            position: absolute;
            width: 35px;
            height: 20px;
            background-color: red;
            bottom: 0;
            right: 0;
            border-radius: 9999px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            padding: 10px;
          }
          img {
            width: 100%;
            border-radius: 50%;
          }
        }
      }
      .body-left {
        width: calc(100% - 400px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .body-left-child {
          width: 150px;
          height: 50px;
          border-radius: 9999px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          .gch-left {
            width: 148px;
            height: 50px;
            padding: 12px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row-reverse;
            border-radius: 999px;
            gap: 10px;
            .ur {
              width: 80px;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              .ur-text {
                font-size: 14px;
                font-weight: 700;
                white-space: nowrap;
                color: green;
              }
            }
            .ul {
            }
          }
        }
      }
    }
  }
}

.banner-body-2 {
  width: 100%;
  height: 110px;
  margin-bottom: 30px;
  padding: 0px 15px;
  overflow: hidden;
  margin-top: 15px;
  cursor: pointer;

  .banner-body-child {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #ebeeed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    overflow: hidden;

    .svg--l {
      height: 110px;
      width: 300px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .svg--r {
      width: 300px;
      height: 110px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .child-r {
      width: 460px;
      height: 80px;
      margin-right: 20px;
    }
    .child-l {
      width: 270px;
      height: 80px;
      margin-left: 20px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      .chlid--up {
        width: 100%;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .gch--l {
          width: calc(100% - 24px);
          height: 33px;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          p {
            font-size: 16px;
            font-weight: 700;
            color: purple;
            direction: rtl;
            margin-right: 10px;
          }
        }
        .gch--r {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .child--down {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .gch--1 {
          width: 20px;
          height: 20px;
        }
        .gch--2 {
          width: 70px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          direction: rtl;
          p {
            font-size: 16px;
            font-weight: 400;
            color: purple;
            white-space: nowrap;
          }
        }
        .gch--3 {
          width: 40px;
          height: 40px;
          background-color: white;
          border-radius: 10px;
          display: flex;
          flex-flow: column;
          justify-content: space-around;
          align-items: center;
          .timer {
            width: 15px;
            height: 22px;
            margin-bottom: 2px;
            p {
              font-size: 15px;
              line-height: 2.17;
              font-weight: 700;
              color: purple;
            }
          }
          .text {
            width: 19px;
            height: 10px;
            margin-bottom: 5px;
            text-align: center;
            p {
              font-size: 7px;
              font-weight: 400;
              line-height: 2.1;
              color: purple;
            }
          }
        }
      }
    }
  }
}

.banner-body {
  .right-body {
    width: 354px;
    height: 55px;
    display: flex;
    justify-content: center;
    .gch-right {
      width: 246px;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      .chhild-up {
        width: 206px;
        height: 26px;
        /* margin: 0px 20px; */
      }
      .chhild-bottom {
        width: 206px;
        height: 15px;
        display: flex;
        justify-content: flex-start;
        .text {
          direction: rtl;
          width: 100%;
          height: 100%;
          font-size: 10px;
          font-weight: 700;
          line-height: 2.17;
          /* margin: 0px 20px; */
        }
      }
    }
    .gch-left {
      width: calc(100% - 246px);
      height: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .boxes {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        line-height: 2.15;
        font-size: 11px;
        color: var(--color-neutral-800);
        text-align: center;
      }
    }
  }
}
