* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANYekanWeb;
}

.section-16-body {
  width: 100%;
  height: 220px;

  margin-top: 24px;
  margin-bottom: 20px;

  .section-16-parent {
    width: 1336px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .section-16-child {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      align-items: center;
      border: 1px solid rgba(128, 128, 128, 0.214);
      border-radius: 24px;
      .section-16-gch-1 {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: beige;
        padding: 16px 24px;
        gap: 2px;
        .section-16-gch-1-left {
          width: calc(100% - 24px);
          height: 24px;
          display: flex;
          justify-content: flex-end;
          flex-direction: row;
          align-items: center;
          margin-right: 5px;

          .section-16-gch-1-left-text {
            font-size: 21px;
            font-weight: 500;
          }
        }
        .section-16-gch-1-right {
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          .section-16-gch-1-right-svg {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .section-16-gch-1-right-img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .section-16-gch-2 {
        width: 100%;
        height: 124px;
        margin-top: 7px;
        background-color: lightgreen;
      }
    }
  }
}
